{% from 'commons/head.html' import head %}
<html>
  <head>
    {{ head(title='Signal Flair') }}
  </head>
  <body>
    {% include 'commons/header.html' %}
    <div class="vertical-center">
      <div class="container">
        <h2 class="mb-5">Generate New Report:</h2>
        <hr />

        <form action="/load-file" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <div class="row">
              <label for="file-path" class="col-sm-4 col-form-label">
                Enter a title for your report:
              </label>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <input
                  class="form-control"
                  type="text"
                  name="report-title"
                  id="report-title"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <label for="file-upload" class="col-sm-12 col-form-label">
                Please upload your logs (use a CSV or Excel spreadsheet):
              </label>
              <input
                class="form-control"
                type="file"
                name="file-upload"
                id="file-upload"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <label for="column-to-analyze" class="col-form-label">
                Enter the name of the column you would like me to analyze:
              </label>
              <input
                  class="form-control"
                  type="text"
                  name="column-to-analyze"
                  id="report-title"
                  value="operationTook"
                  required
                />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <label for="report-type" class="col-form-label">
                Which kind of report should I create?
              </label>
              <select name="report-type" id="report-type">
                <option value="eda">Exploratory Data Analysis</option>
                <option value="outlier-detection">Outlier Analysis (Detected Patterns)</option>
              </select>
            </div>
          </div>
          <input 
            onclick="show_load();"
            type="submit" 
            value="Generate!" 
            class="btn btn-secondary mb-2"
          />
        </form>

        
        {% include 'commons/messages.html' %}
      </div>
    </div>

    {% include 'commons/load.html' %}
  </body>
</html>
